.login {
	width: 100%;
	height: calc(100vh - 63px);
	display: flex;
	justify-content: space-around;
	align-items: center;
  background-image: url('../../assets/login-bg.jpg');
  background-size: cover;
  animation: var(--anim) .5s;
  animation-fill-mode: forwards;
}

.motto {
	font-size: 4vw;
	font-weight: 700;
	color: var(--color2);
	text-shadow: 2px 2px #fff;
	text-align: left;
  animation: var(--anim) .5s;
  animation-fill-mode: both;
  animation-delay: 300ms;
}

.motto .click {
	position: relative;
	width: 60px;
	filter: brightness(0) invert(1);
	top: 5px;
	left: 10px;
}

.form {
	min-width: 300px;
	width: 30%;
}

@media only screen and (max-width: 900px) {
  .motto {
    display: none;
  }
}