.loaderScreen {
	width: 100%;
	height: calc(100vh - 63px);

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--color5);
}

.loaderIcon {
	width: 100px;
	position: absolute;
}