.register {
	width: 100%;
	height: calc(100vh - 65px);
	display: flex;
	justify-content: center;
	align-items: center;
  background-image: url('../../assets/register-bg.jpg');
  background-size: cover;
  animation: var(--anim) .5s;
}

.form {
	min-width: 300px;
	width: 30%;
}